/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 8vh;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

html {
    color: #333333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

#background-video {
    width: 61vw;
    height: 50vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

div.home-about {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

div.home-details {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (max-width: 750px) {
    #background-video {
        display: none;
    }

    body {
        padding-top: 10vh;
        background: url("../img/prbmobilebg.jpg") no-repeat;
        background-size: cover;
        background-color: #333333;
    }
}

div.header-text-prb {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 5vh;
}

.row {
    background-color: #333333;
    margin-top: 0vh;
    margin-bottom: 5vh;
    padding: 10px;
    position: relative;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 230px;
    text-align: center;
    color: white;
    font-size: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%;
        margin-left: 0vh;
        height: 180px;
    }
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

input[type=text], select, textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    background-color: #003bbb;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #003bbb;
    }

.container2 {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    background-color: #333333;
    padding: 20px;
    color: black;
}